@(title: String)(implicit messages: Messages)

@main(title) {


<div class="jumbotron">
  <h1 class="display-4">Welcome Superheroes!</h1>
  <p class="lead">Planet @messages("planet") is in jeopardy and desperately needs your attention.</p>
  <hr class="my-4">
  <p>
  	@messages("opening.stmt")
  </p>
</div> 



<div class="container">
	<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Handle</th>
      <th scope="col">Power</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="/agent/lincoln" class="btn btn-outline-success btn-sm" role="button">Lincoln</a></td>
      <td>linxnet</td>
      <td>Control Time</td>       
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Iris</td>
      <td>????</td>
      <td>Restore Lives</td>
    </tr>
    <tr>
      <th scope="row">3</th>
       <td><a href="/agent/taiwo" class="btn btn-outline-primary btn-sm" role="button">Taiwo</a></td>
      <td>tbada</td>
      <td>Healing</td>
    </tr>
    
    <tr>
      <th scope="row">4</th>
      <td>Sam B.</td>
      <td>???</td>
      <td>Read minds</td>       
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Azu</td>
      <td>????</td>
      <td>Time Travel</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Ian</td>
      <td>????</td>
      <td>Replication</td>
    </tr>
    

    <tr>
      <th scope="row">7</th>
      <td>Samuel</td>
      <td>???</td>
      <td>Time Travel</td>       
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Segun</td>
      <td>????</td>
      <td>Erase memory</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Sunny</td>
      <td>????</td>
      <td>Super Brain</td>
    </tr>
    


    <tr>
      <th scope="row">10</th>
      <td>Varnel</td>
      <td>???</td>
      <td>Time Travel</td>       
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>Maks</td>
      <td>????</td>
      <td>Replication</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>Varsha</td>
      <td>????</td>
      <td>Read minds</td>
    </tr>


    <tr>
      <th scope="row">13</th>
      <td>Catherine</td>
      <td>???</td>
      <td>Teleportaion</td>       
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>Lares</td>
      <td>????</td>
      <td>Speed Read</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>Ellis</td>
      <td>????</td>
      <td>Erase memory</td>
    </tr>


  </tbody>
</table>
</div>

	
  
}
