@(name: String)(implicit messages: Messages)
@main(name) {

<div class="container">
	<div class="jumbotron">
  		<h1 class="display-4">Taiwo Bada</h1>
  		<p class="lead">Hello my name is Taiwo</p>
  		<hr class="my-4">
  		<p>
  			My special gift is healing. I wish I can heal the world right now, so everyone can return to their normal lives. 
  			<br>
  			<br>
  			
  			<button type="button" class="btn btn-secondary btn-sm">
  				Secondary skills: <span class="badge badge-light">2</span>
  				<span class="sr-only">unread messages</span>
			</button>
  			<ul>
  				<li>@messages("taiwo.power1")
  				<li>@messages("taiwo.power2")
  			</ul>
  			
  			<button type="button" class="btn btn-danger btn-sm">
  				Weaknesses: <span class="badge badge-light">2</span>
  				<span class="sr-only">unread messages</span>
			</button>
  			<ul>
  				<li>@messages("taiwo.weak1")
  				<li>@messages("taiwo.weak2")
  			</ul>
  		</p>
        <div class="text-center">
  			<img class="rounded" height=400 width=400 src="@routes.Assets.versioned("images/image.jpg")" alt="">
        </div>
  		
  		
	</div>
</div>

	
  
}
